.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border: 0;
  width: 100%;
}
.form__fieldset {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
.form__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form__input {
  border-radius: 4px;
  border: 1px solid #838383;
  width: 100%;
  height: 60px;
  padding-inline: 16px;
}
.form__input::placeholder {
  color: #838383;
}
.form__button {
  color: #fff;
  background-color: #2f80ed;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  height: 60px;
  width: 100%;
  transition: all 0.3s ease;
}
.form__button:hover {
  opacity: 0.7;
}
.form__button:focus {
  opacity: 0.7;
  outline: 0;
}
.form__label_type_checkbox {
  flex-direction: row;
}
.form__input-mod {
  width: 20px;
  height: 20px;
  border: 1px solid #838383;
  background-color: #fff;
  border-radius: 2px;
}
.form__input_type_checkbox:checked + .form__input-mod_type_checkbox {
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.form__input_type_checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
