.reservation {
  background-image: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 100px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.reservation__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
}
