@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/nav.css);
@import url(../blocks/card.css);
@import url(../blocks/form.css);
@import url(../blocks/header.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/menu.css);
@import url(../blocks/about.css);
@import url(../blocks/footer.css);

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Inter;
  src: url(/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: Noto Serif;
  src: url(/NotoSerif-VariableFont_wdth\,wght.ttf);
}
